@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

.noto-serif-font {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


/* shared style */
.orange{
   color: rgba(233, 90, 8, 1);
}

body{
  background-color: #f5f8ff;
}

.btn-primary{

}

/* navbar styles */

.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px 100px 120px 100px;
}
.nav-menu{
 display: flex;
 gap: 48px;
}
.nav-item,.nav-item-cart{
  list-style: none;
}

.nav-home,
.nav-shop,
.nav-about-us,
.nav-cart-item{
  text-decoration: none;
}
.nav-home{
  font-weight: 600;
  font-size: 1rem;
  color:rgba(37, 36, 50, 1) ;
}

.nav-shop,.nav-about-us{
  color: rgba(137, 135, 161, 1);
  font-size: 1rem;
  }
  .nav-cart-item{
    font-size: 1rem;
    color: #000;
    font-weight: 500;
    opacity: 100%;
  }

.nav-cart{
  display: flex;
}


/* banner styles */

.banner{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 120px 100px; 
}

 .banner-content{
   max-width: 570px;
} 

.banner-title{
  font-size: 4.0625rem;
  font-weight: 600;
}

.banner-description{
  font-size: 1.375rem;
  color: #000000;
  opacity: 50%;
}


/* plants section style */

.plants-content{
  text-align: center;
  margin-bottom: 49px;
}

.plants-title{
  font-weight: 600;
  font-size: 3.125rem;
}

.plants-description{
  font-weight: 500;
  font-size: 1.375rem;
  opacity: 50%;
}
.card-title{
  font-weight: 500;
  font-size: 1.375rem;
}

.card-price{
  font-weight: 600;
  font-size: 1.375rem;
}

.card-btn{
  background-color: rgba(233, 90, 8, 1);
  color:rgba(255, 255, 255, 1);
  font-weight: 500;
  font-size: 1rem;
  border:none;
  padding: 19px 80px;
  margin-bottom: 20px;
}

.cards{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  justify-items: center;
  text-align: center;
  column-gap: 20px;
  row-gap: 30px;
}

/* plants lover style */
.plants-lover{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
  margin: 210px 150px 135px 150px;
}
.img-box{
  position: relative;
}
.plant-lover-image{
  max-width: 576px;
  width: 100%;
  height: auto;
}
.badge{
  position: absolute;
  top: -145px;
  right: -130px;
  width: 286px;
  height: 286px;
}
.plant-lover-content{
  max-width: 540px;
}
.plant-lover-title {
  font-size: 3.125rem;
  margin-bottom: 30px;
}
.plant-lover-list{
  padding-left: 35px;
  padding-right: 25px;
}
.lover-list-item{
  font-size: 1.375rem;
  font-weight: 400;
  color: #000000;
  opacity: 50%;
  margin-bottom: 20px;
}

/* latest deals styles */

.l-d-content{
  text-align: center;
  margin-bottom: 49px;
}

.l-d-title{
  font-weight: 600;
  font-size: 3.125rem;
}

.l-d-description{
  font-weight: 500;
  font-size: 1.375rem;
  opacity: 50%;
}

.l-d-collage{
  display: flex;
  justify-content: center;
  gap: 28px;
  
  
}
.bloom-link {
  color: rgba(255, 255, 255, 1);
  font-size: 1rem;
  font-weight: 500;
}

.ana-link {
  color: rgba(255, 255, 255, 1);
  font-size: 1rem;
  font-weight: 500;
}

.zabo-link {
  color: rgba(255, 255, 255, 1);
  font-size: 1.75rem;
  font-weight: 500;
}


  .element-bloom,.element-ana, .element-zabo {
  display: flex;
  flex-direction: column;
  justify-content: center;  
  align-items: center;     
  height: 300px;            
  border: none;
  border-radius: 15px;
  color: rgba(255, 255, 255, 1);
  background-image: url('../images/deal-bloom.png');
  background-repeat: no-repeat;
  background-size: cover;
  height:206px;
  width: 367px;
}

.element-ana{
  background-image: url('../images/deal-ana.png');
  margin-top: 25px;
}
.element-zabo{
  background-image: url('../images/deal-zabo.png');
  height:437px;
  width: 753px;
}

.boloom-offer,.ana-offer {
  font-size: 1.25rem;
  font-weight: 600;
}

.zabo-offer{
  font-size: 2.5rem;
  font-weight: 600;
}

/* join section style */

.join{
  background-image: url('../images/news-letter-bg.png');
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;  
  align-items: center;               
  
  color: rgba(255, 255, 255, 1);

  
  background-size: cover;
  height:100vh;
  max-width: 100%;
  margin: 120px 0;
  padding: 0;
  max-width: 100vw;

}

.join-field{
  display: flex;
  gap: 0px;
  
}

.join-input {
  width: 700px;    
  height: 30px;    
  font-size: 16px; 
  padding: 10px;   
}

.join-btn{
  height: 53px;
}

.join-title{
  font-size: 3.125rem;
}

/* footer section style */


.footer-part{
  display: flex;
  justify-content: space-between;
  margin: 50px 160px 120px 160px;
}

.f-logo-description{
  font-size: 1.375rem;
  color: #000000;
  opacity: 50%;

}

.f-link-part1 a,.f-link-part2 a{
  display: block;
  text-decoration: none;
  font-weight: 400;
  font-size: 1rem;
  color: rgba(137, 135, 161, 1);
  margin-bottom: 26px;
  
}

.f-features-part {
  display: flex;
  gap: 24px;
}

.twitter{
 padding-top: 10px;
}


/* responsive media query */

@media screen and (max-width:576px) {

  /* navar responsive */

  .navbar{
    margin: 13px 16px;
  }

  .nav-logo{
    height: 38px;
    width: 63px;
  }

  .nav-item{
    display: none;
  }
  .nav-cart{
    height: 24px;
    width: 113px;
  }

  /* banner responsive */

  .banner {
    flex-direction: column;
    margin: 0;
  }
  .banner-content{
    max-width: 100%;
    text-align: start;
    margin: 19px 16px 65px 16px;
  }

  .banner-title{
    font-size: 1.5rem;
    margin-bottom: 10px;
  }

  .banner-description{
    font-size: 0.875rem;
  }

  .banner-img{
    order: -1;
    margin-right: -8px;
    
  }
  .banner-img img{
    max-width: 100%;
    
  }

  /* plants responsive */


  .plants-content{
   margin: 26px 16px 37px 16px;
  }
  .plants-title{
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  .plants-description{
    font-size: 0.875rem;
    max-height: 100%;
    max-width: 100%;
  }
  .cards{
    grid-template-columns: repeat(2,1fr );
  }
  .card-title{
    font-size: 1rem;
    max-height: 100%;
    max-width: 100%;
  }
  .card-price{
    font-size: 1rem;
    
  }
  .card-btn{
    font-size: 1rem; 
    padding: 19px 34px; 
    
  }
  .card-img{
    max-height: 100%;
    max-width: 100%;
  }
  .card-price{
    max-height: 100%;
    max-width: 100%;
  }

  /* plants lover responsive */

  .plants-lover{
    flex-direction: column;
    margin: 20px;
    margin-top: 30px;
  }
  .plant-lover-title{
    font-size: 1.5rem;
    margin-top: -40px;
  }
  .lover-list-item{
    font-size: 0.875rem;
    margin-left: -15px;
    margin-right: -25px;
  }
  .badge{
    display: none;
  }

  /* latest deals responsive */


  .l-d-content{
   margin: 26px 16px 37px 16px;
  }
  .l-d-title{
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  .l-d-description{
    font-size: 0.875rem;
    max-height: 100%;
    max-width: 100%;
  }

  .l-d-collage{
  flex-direction: column;
  align-items: center;
  }
  
  
  .element-zabo{
    max-width: 367px;
    max-height: 206px;
    margin-top: -5px;
  }
  .zabo-offer{
  font-size: 1.25rem;
}
 .zabo-link{
  font-size:1rem ;
 }


 /* join section responsive */

 .join{
  
  height: 275px;;
  margin: 120px 0;
  max-width: 393px;
}

.join-input {
  width: 159px;    
  height: 20px;    
  font-size: 1rem; 
  padding: 10px; 
  margin-top: 20px;  
}

.join-btn{
  height: 44px;
  width: 20px;
  display: flex;
  font-size: 1rem;
  font-weight: 500;
  padding: 10px 60px;
  font-weight: 500;
  margin-top: 20px;
  justify-content: center;
  align-items: center;
}

.join-title{
  font-size: 1.25rem;
}


/* footer section responsive */

.footer-part{
  flex-direction: column;
  margin: 20px 15px 50px 20px ;
}

 
}


  

  

  

