@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

.noto-serif-font {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "width" 100;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


/* shared style */
.orange{
   color: rgba(233, 90, 8, 1);
}

body{
  background-color: #f5f8ff;
}

.btn-primary{

}

/* navbar styles */

.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px 100px 120px 100px;
}
.nav-menu{
 display: flex;
 gap: 48px;
}
.nav-item,.nav-item-cart{
  list-style: none;
}

.nav-home,
.nav-shop,
.nav-about-us,
.nav-cart-item{
  text-decoration: none;
}
.nav-home{
  font-weight: 600;
  font-size: 1rem;
  color:rgba(37, 36, 50, 1) ;
}

.nav-shop,.nav-about-us{
  color: rgba(137, 135, 161, 1);
  font-size: 1rem;
  }
  .nav-cart-item{
    font-size: 1rem;
    color: #000;
    font-weight: 500;
    opacity: 100%;
  }

.nav-cart{
  display: flex;
}


/* banner styles */

.banner{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 120px 100px; 
}

 .banner-content{
   max-width: 570px;
} 

.banner-title{
  font-size: 4.0625rem;
  font-weight: 600;
}

.banner-description{
  font-size: 1.375rem;
  color: #000000;
  opacity: 50%;
}


/* plants section style */

.plants-content{
  text-align: center;
  margin-bottom: 49px;
}

.plants-title{
  font-weight: 600;
  font-size: 3.125rem;
}

.plants-description{
  font-weight: 500;
  font-size: 1.375rem;
  opacity: 50%;
}
.card-title{
  font-weight: 500;
  font-size: 1.375rem;
}

.card-price{
  font-weight: 600;
  font-size: 1.375rem;
}

.card-btn{
  background-color: rgba(233, 90, 8, 1);
  color:rgba(255, 255, 255, 1);
  font-weight: 500;
  font-size: 1rem;
  border:none;
  padding: 19px 80px;
  margin-bottom: 20px;
}

.cards{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  justify-items: center;
  text-align: center;
  column-gap: 20px;
  row-gap: 30px;
}

/* responsive media query */

@media screen and (max-width:576px) {

  /* navar responsive */

  .navbar{
    margin: 13px 16px;
  }

  .nav-logo{
    height: 38px;
    width: 63px;
  }

  .nav-item{
    display: none;
  }
  .nav-cart{
    height: 24px;
    width: 113px;
  }

  /* banner responsive */

  .banner {
    flex-direction: column;
    margin: 0;
  }
  .banner-content{
    max-width: 100%;
    text-align: start;
    margin: 19px 16px 65px 16px;
  }

  .banner-title{
    font-size: 1.5rem;
    margin-bottom: 10px;
  }

  .banner-description{
    font-size: 0.875rem;
  }

  .banner-img{
    order: -1;
    margin-right: -8px;
    
  }
  .banner-img img{
    max-width: 100%;
    
  }

  /* plants responsive */

  .plants{
    

  }
  .plants-content{
   margin: 26px 16px 37px 16px;
  }
  .plants-title{
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  .plants-description{
    font-size: 0.875rem;
    max-height: 100%;
    max-width: 100%;
  }
  .cards{
    grid-template-columns: repeat(2,1fr );
  }
  .card-title{
    font-size: 1rem;
    max-height: 100%;
    max-width: 100%;
  }
  .card-price{
    font-size: 1rem;
    
  }
  .card-btn{
    font-size: 1rem; 
    padding: 19px 34px; 
    
  }
  .card-img{
    max-height: 100%;
    max-width: 100%;
  }
  .card-price{
    max-height: 100%;
    max-width: 100%;
  }


  
    
  }
  

  

